/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_seohut";
    src: url("../fonts/flaticon_seohut3c90.woff2?a145510296996c8d823db9348956f13c") format("woff2"),
url("../fonts/flaticon_seohut3c90.woff?a145510296996c8d823db9348956f13c") format("woff"),
url("../fonts/flaticon_seohut3c90.eot?a145510296996c8d823db9348956f13c#iefix") format("embedded-opentype"),
url("../fonts/flaticon_seohut3c90.ttf?a145510296996c8d823db9348956f13c") format("truetype"),
url("../fonts/flaticon_seohut3c90.html?a145510296996c8d823db9348956f13c#flaticon_seohut") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_seohut !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-mail:before {
    content: "\f101";
}
.flaticon-writer:before {
    content: "\f102";
}
.flaticon-seo:before {
    content: "\f103";
}
.flaticon-promotion:before {
    content: "\f104";
}
.flaticon-advertisement:before {
    content: "\f105";
}
.flaticon-facebook-app-symbol:before {
    content: "\f106";
}
.flaticon-twitter:before {
    content: "\f107";
}
.flaticon-skype:before {
    content: "\f108";
}
.flaticon-close:before {
    content: "\f109";
}
.flaticon-star:before {
    content: "\f10a";
}
.flaticon-check-mark:before {
    content: "\f10b";
}
.flaticon-discount:before {
    content: "\f10c";
}
.flaticon-linkedin-logo:before {
    content: "\f10d";
}
.flaticon-light-bulb:before {
    content: "\f10e";
}
.flaticon-research:before {
    content: "\f10f";
}
.flaticon-optimization:before {
    content: "\f110";
}
.flaticon-results:before {
    content: "\f111";
}
.flaticon-instagram:before {
    content: "\f112";
}
.flaticon-twitter-1:before {
    content: "\f113";
}
.flaticon-share:before {
    content: "\f114";
}
.flaticon-support:before {
    content: "\f115";
}
.flaticon-transparency:before {
    content: "\f116";
}
.flaticon-user:before {
    content: "\f117";
}
.flaticon-user-1:before {
    content: "\f118";
}
.flaticon-phone-call:before {
    content: "\f119";
}
.flaticon-email:before {
    content: "\f11a";
}
.flaticon-link:before {
    content: "\f11b";
}

